.buttons {
  padding: 2em;
}

.tasks {
  display: flex;
  flex-direction: row;
  padding: 1em;
}

.content {
  min-width: 50vw;
}

.preview {
  position: fixed;
  right: 0px;
  top: 40vh;
  width: 20%;
}

@media only screen and (max-width: 360px) {
  .preview {
    display: none;
  }
}
